<div class="container row">
    <div class="col-md-12">
        <h1>Cart</h1>
    </div>
    <hr>
    <div class="col-md-4" *ngFor="let food of app.localStorageItem('cart');let i=index">
        <div class="card card-block">
            <img class="custom-image-style" img src="{{food.retrievedImage}}" height="300" width="200" style="margin-left: 60px;
          margin-top: 10px">
            <div class="food-desc-container row">
                <div>
                    <p style="margin-left: 60px"><strong>{{food.name}}: ${{food.price}}</strong></p>
                </div>
            </div>

        </div>
    </div>
</div>